/* 

.navbar {
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-content: center;
    border-bottom: 2px solid rgb(124, 191, 230)
}

.navs {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(230, 230, 231);
    font-size: 2rem;
    margin-top: 11px;
    color: rgb(28, 91, 121);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

body {
    background-color: white;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 6vw;
    color: rgba(0, 0, 0, 0.863)
}

#contact {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-column: 2/3
}

#resume {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-column: 1 / 2
}

#grid {
    display: grid;
    grid-column: 1/2;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 10%;
    padding: 1rem;
    max-width: 22rem;
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(0, 100, 194);
} */

* {
    /* margin: 0;
    padding: 0; 
    box-sizing: border-box; */
}

/* .navbar {
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-content: center;
    border-bottom: 2px solid rgb(124, 191, 230)
}

.navs {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(230, 230, 231);
    font-size: 2rem;
    margin-top: 11px;
    color: rgb(28, 91, 121);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
} */

body {
    background-color: white;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 10%;
    font-size: 6vw;
    color: rgba(0, 0, 0, 0.863)
}


#flex {
    display: flex;
    justify-content: center;
}

.fadeInLeft {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.86rem;
    text-decoration: none;
    color: rgb(0, 100, 194);
    display: flex;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 8%;
}

.fadeInRight {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.86rem;
    text-decoration: none;
    color: rgb(0, 100, 194);
    display: flex;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 8%;
}

.fadeIn {
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-bottom: 12rem;
    margin-top: 10rem;
}

#recipe-img {
    float: inherit;
    width: 100%;
    height: auto;


}

.card {
    width: 50%;
    height: auto;
    padding: 3%;
    padding-bottom: 1%;
    display: inline-block;
}

#recipe-text {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    
    font-size: 1.5rem;
}

#span { 
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
  
    z-index: 1;
  
    /* fixes overlap error in IE7/8, 
       make sure you have an empty gif */
    background-image: url('empty.gif');
  }   

  @media only screen and (max-width: 600px) {
      #recipe-text {
          font-size: 4vw
      }

      .fadeInLeft {
        font-size: 5vw
      }

      .fadeInRight {
        font-size: 5vw
      }
  }